body,html{

    background:#3B4145;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    
    font-size: 18px;
    height: 100%;
    width:100%;
    overflow: hidden;
        /* Hide horizontal scrollbar */
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 45px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
.navigationButtons {
    z-index: 100;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    white-space: nowrap;
    position: relative;
    clear: both;
    display: inline-block;
    margin-top: 10px;

}
.neonText {

    
    text-shadow: 
        0 0 7px #fff;
}
a:link{

    color: rgb(255, 255, 255);

}
.neonHeader {
    display: inline;
    background-image: url("cyberpunkmkII.png");
    width: 100%;
    height: 75%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: rgb(204 0 204 / 50%) 5px 0px 2px, rgb(0 204 166 / 50%) -4px 0px 5px, rgb(0 62 175) 5px 0px 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
    
    background-position: top left;
    position: absolute;
    top: 0px;
    left: 0px;
    /*background-position: center;
    padding: 20px;*/
}